section{
    width: 100vw;
    height: 100vh;
    display: flex;
    app-create-todos{
        width: 32%;
        height: 100%;
    }
    app-show-todos{
        width: 68%;
        background-color:cadetblue;
        height: 100%;
    }
    button{
        position: absolute;
        top: 0;
        right: 0;
    }
}