<section>
    <!------title--------->
    <mat-form-field>
        <mat-label>Title(requiret)</mat-label>
        <input matInput [(ngModel)]="title" maxlength="80">
    </mat-form-field>

    <!------description--------->
    <mat-form-field>
        <mat-label>Description(requiret)</mat-label>
        <textarea matInput [(ngModel)]="description" maxlength="220"></textarea>
    </mat-form-field>

    <!------prio btn--------->
    <mat-button-toggle-group
        name="favoriteColor"
        aria-label="Favorite Color"
        [hideSingleSelectionIndicator]="hideSingleSelectionIndicator()"
    >
        <mat-button-toggle value="red" click="checkPrio(1)">Low</mat-button-toggle>
        <mat-button-toggle value="green" click="checkPrio(2)">Medium</mat-button-toggle>
        <mat-button-toggle value="blue" click="checkPrio(3)">Heigh</mat-button-toggle>
    </mat-button-toggle-group>

    <!------select users--------->
    <div>
        <ul class="userList">
            @for (user of assigned_users; track $index) {
                <li>{{user.username}} <button mat-raised-button (click)="deleteSelectedUser($index)">Delete user</button></li>
            }
        </ul>
    </div>
    <mat-form-field>
        <mat-label>Select Users</mat-label>
        <mat-select>
            @for (user of UrlService.userNames; track $index) {
                <mat-option (click)="selectUser(user)">{{user.username}}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <!------subtasks--------->
    <mat-form-field>
        <mat-label>Subtasks</mat-label>
        <input matInput (keypress)="addSubtask($event)" [(ngModel)]="subtasksValue" maxlength="100">
    </mat-form-field>
    <ul>
        @for (item of subtasks; track $index) {
            <li>
                {{ item.name }}  <button mat-raised-button (click)="deleteSubtask($index)">Delete</button>
                <mat-divider></mat-divider>
            </li>
        }
    </ul>

    <div class="buttonBox">
        <button mat-raised-button (click)="clearValues()">Clear</button>
        <button mat-raised-button (click)="saveTask()">Save</button>
    </div>
</section>